<!DOCTYPE html>
<html ng-app="notepadApp">
<head>
	<title>BD - Notepad</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="stylesheet" href="res/styles.css">
	<link rel="shortcut icon" href="favicon.ico">
	<script src="res/jquery.min.js"></script>
	<script src="res/angular.min.js"></script>
	<script src="res/scripts.js"></script>
</head>
<body>
	<main>
		<h1>It works! Wee</h1>

		<section id="login" ng-controller="loginCtrl">
			<h3>Login/Register</h3>
			<span>{{loggedStatus}}</span>
			<form ng-submit="login()" onsubmit="reset()">
				<input required type="text" ng-model="bdusername" name="bdusername" placeholder="Username" size="4">
				<input required type="text" ng-model="bdpassword" name="bdpassword" placeholder="Password" size="4">
				<input type="submit" value="Login">
			</form>
		</section>

		<section id="pages" ng-controller="pagesCtrl">
			<h3>Páginas</h3>
			<ul>
				<li><b>Ver</b></li>
				<li><b>Inserir</b></li>
				<li><b>Remover</b></li>
				<li ng-repeat="page in pages">{{page}}</li>
				<li ng-controller="pagesFormCtrl">
					<form ng-submit="add()" onsubmit="reset()">
						<input required type="text" ng-model="bdpage" placeholder="Nova página" size="6">
						<input type="submit" value="+">
					</form>
				</li>
			</ul>
		</section>

		<section id="types" ng-controller="typesCtrl">
			<h3>Tipos de Registo</h3>
			<ul>
				<li><b>Inserir</b></li>
				<li><b>Remover</b></li>
				<li><b>Alterar (+) (-)</b></li>
				<li ng-repeat="type in types">{{type}}</li>
				<li ng-controller="typesFormCtrl">
					<form ng-submit="add()" onsubmit="reset()">
						<input required type="text" ng-model="bdtype" placeholder="Novo tipo"size="6">
						<input type="submit" value="+">
					</form>
				</li>
			</ul>
		</section>

		<section id="registos">
			<h3>Inserir Registos</h3>
		</section>
	</main>
</body>
</html>