<!DOCTYPE html>
<html ng-app="notepadApp">
<head>
	<title>BD - Notepad</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="stylesheet" href="res/styles.css">
	<link rel="shortcut icon" href="favicon.ico">
	<script src="res/jquery.min.js"></script>
	<script src="res/angular.min.js"></script>
	<script src="res/scripts.js"></script>
</head>
<body>
	<div id="login" ng-controller="loginCtrl" ng-init="login()" style="margin: 10px">
		<form ng-submit="login()" onsubmit="reset()" ng-hide="log.isLoggedUser">
			<input type="text" ng-model="bdusername" name="bdusername" placeholder="Username" size="8">
			<input type="text" ng-model="bdpassword" name="bdpassword" placeholder="Password" size="8">
			<input type="text" ng-model="bdid" name="bdid" placeholder="ID" size="2">
			<input type="submit" value="Login">
		</form>
		<span>{{log.loggedStatus}}</span>
	</div>
	<main>
		<section id="pages" ng-controller="pagesCtrl">
			<h3>Páginas</h3>
			<select ng-model="selectedPage" ng-change="loadRecords()">
				<option ng-repeat="page in pages" ng-value="page.pagecounter">{{page.nome}}</li>
			</select>
			<input ng-hide="pages == null" type="button" ng-click="delPage(selectedPage)" value="X">
			<form ng-submit="add()" ng-controller="addPagesFormCtrl">
				<input type="text" ng-model="bdpage" placeholder="Nova página" size="8">
				<input type="submit" value="+">
			</form>
			<ul>
				<li ng-repeat="record in records">{{record.nome}}</li>
				<li ng-hide="records == null">
					<form ng-submit="add(selectedPage)" ng-controller="addRecordsPageFormCtrl">
						<input type="text" ng-model="bdrecord" placeholder="Novo registo"size="8">
						<input type="submit" value="+">
					</form>
				</li>
			</ul>
		</section>

		<section id="types" ng-controller="typesCtrl">
			<h3>Tipos de Registo</h3>
			<select ng-model="selectedType" ng-change="loadFields()">
				<option ng-repeat="type in types" ng-value="type.typecnt">{{type.nome}}</li>
			</select>
			<input ng-hide="types == null" type="button" ng-click="delType(selectedType)"value="X">
			<form ng-submit="add()" ng-controller="addTypesFormCtrl">
				<input type="text" ng-model="bdtype" placeholder="Novo tipo"size="8">
				<input type="submit" value="+">
			</form>
			<ul>
				<li ng-repeat="field in fields">
					<span>{{field.nome}}</span>
					<input type="button" ng-click="delField(field.campocnt)" value="X">
				</li>
				<li ng-hide="fields == null">
					<form ng-submit="add(selectedType)" ng-controller="addFieldsTypeFormCtrl">
						<input type="text" ng-model="bdfield" placeholder="Novo campo"size="8">
						<input type="submit" value="+">
					</form>
				</li>
			</ul>
		</section>
	</main>
</body>
</html>